<h1 class="display-1">About Us</h1>

<h3 class="subhead"><b>"The single most important thing that we can do is to make sure we have a world-class 
education system for everybody. That is the prerequisite for prosperity. It is an obligation that we have for 
the next generation"</b> -<i>Barack Obama</i></h3>

<p class="body">Hello and welcome to our informational page! Our objective was to create a web based application 
that could potentially solve a problem currently being faced in our community. As students ourselves, we decided 
to look in the same direction as our fellow student peers and ask "What problems are <em>we</em> facing in class?" 
After much researching, thinking, and brainstorming, we came to the conclusion that we should make a web-based
education review game. We've dubbed it "Knowledge Plaza".We, the creators of this web-based application, are the 
Wizzard Lizzards. We're a 4-man team of amateur highschool programmers and we were influenced by our programming 
teacher to become members of our school's CodeTN team.</p>

<p class="body">The purpose of Knowledge Plaza is to serve as a review game for students in AP classes (or any 
students in particular) that are just seeking help for their upcoming AP exams.</p> 

<p class="body">You can even use our tool to play review games on your own or competitively with your friends. 
Ultimately, we want you to be ready for your AP exam(s).</p>