<div fxLayout="column" fxLayoutAlign="start stretch">
  <div class="display-2" style="text-align: center">Stats</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div class="display-1" style="padding: 5px">{{ this.userStats?.correct / this.userStats?.answeredCount | percent }}</div>
  <div class="body"> Correct </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <div class="display-1" style="padding: 5px">{{userStats?.correct}}</div>
<div class="body"> Questions correct,
  <span class="display-1" style="padding: 5px">{{userStats?.countdown}}</span> more for next archive item</div>
</div>

<div class="body" *ngFor="let category of categories" fxLayout="row" fxLayoutAlign="space-around center">
  <div class="title">{{ category }}</div>

  <div class="body">
    {{ categoryStat(category).correct }} / {{ categoryStat(category).answeredCount }}
  </div>
</div>
</div>